* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6{
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 2%;
  padding-right: 2%;
}

/* Mobile defaults */
.col-6{
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
}